body {
  background: #222;
  color: #eee;
  font-size: small;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}

header {
  text-align: justify; 
}

header:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

header div {
  display: inline-block;
}

header div img {
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
}

header div div h1 {
  font-size: 49px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

header div div h2 {
  font-size: 15px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

header nav {
  display: inline-block;
  font-size: large;
}

header nav span {
  text-align: center;
  padding: 5px;
}

header nav span.select {
  border-radius: 8px;
  background-color: #eee;
  color: #222;
}

header nav a {
  color: inherit;
  padding: 0 10px;
  text-decoration: none;
}

div.welcome h1 {
  display: inline-block;
  font-weight: lighter;
  font-size: 40px;
}

div.welcome img {
  width: 100%;
  border-radius: 8px;
}

div.docs {
  margin-top: 50px;
  max-width: 100%;
  text-align: justify;
  font-size: 0;
}

div.docs div {
  padding-left: 10px;
  padding-right: 10px;
}

div.docs:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}

div.docs div {
  vertical-align: top;
  display: inline-block;
  background: #eee;
  color:  #222;
  border-radius: 8px;
  width: 580px;
  font-size: small;
}

div.docs nav {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  font-size: small;
}

div.docs nav h1 {
  display: block;
  margin-left: 0px;
  margin-bottom: 2px;
  font-size: normal;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-indent: 5px;
}

div.docs nav span {
  display: block;
}

div.docs nav span a {
  text-indent: 5px;
  margin-top: 1px; 
  margin-bottom: 1px; 
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px;
  padding-left: 0px;
  font-size: small;
  color: #eee;
  text-decoration: none;
}

div.docs nav span a.triangle {
  width: 0;
  height: 0;
  text-indent: 0px;
  border-style: solid;
  border-width: 6px 0 6px 10.4px;
  border-color: transparent;
}

div.docs nav span a.select {
  width: 0;
  height: 0;
  text-indent: 0px;
  border-style: solid;
  border-width: 6px 0 6px 10.4px;
  border-color: transparent transparent transparent #eee;
}

.gallery h2 {
  padding-top: 30px;
}

.overlaycontainer {
  position: relative;
}

.overlaycontainer img {
  width: 100%;
}

.overlaycontainer video {
  width: 100%;
}

.welcome table {
  border-spacing: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome td {
  padding: 10px;
  vertical-align: top;
}

.overlay {
  position: absolute;
  z-index : 10;
  padding: 0px;
  margin: 0px;
  width: 220px;
}

.welcome td, .overlay, .news li {
  background: rgba(90, 90, 90, 0.6);
  border: 1px solid;
  border-radius: 8px;
  border-color: rgba(90, 90, 90, 0.6);
}

.overlay a {
  color: #eee;
}

a {
  color: #007edf;
  text-decoration: none;
}

.overlay ul {
  padding-left: 20px;
}

.overlay li {
  padding-bottom: 5px;
}

.overlay div {
  padding: 10px;
}

.welcome .overlaycontainer {
  background-image: url("/images/helmholtz.png");
  background-repeat: no-repeat;
  background-size: 750px auto;
  background-position: center;
}

.welcome .overlay {
  width: 42.5%;
  height: 42.5%;
}

.news ul {
  margin: 0px;
  padding: 0px;
}

.news li {
  padding: 10px;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.news ul a {
  font-color: inherit;
  text-decoration: inherit;
  color: #eee;
}

.news li:hover {
  background: rgba(90, 90, 90, 0.8);
}

.floatright {
  float: right;
}

.gray {
  color: #777;
}
