/***( GENERAL )***/


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #222;
  color: #eee;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 600px;
  padding: 20px 10px;
  padding-bottom: 0px;
  margin: 0 auto;
}


/***( HEADER CONTENT )***/


#header_wrap h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

#tabbar {
  display: block;
  font-size: large;
  padding: 0px;
  margin: 0px -10px;
}

#tabbar span {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
}

#tabbar span.select {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #eee;
  color: #222;
}

#tabbar a {
  color: inherit;
  padding: 0px 9px;
  margin: 0px;
}


/***( MAIN CONTENT )***/


#main_content_wrap {
  padding-bottom: 10px;
  background: #eee;
  color: #222;
}

h2 + .nav {
  margin: -15px 0px 20px 0px;
}

div + .nav {
  margin: 25px 0px 0px 0px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 30px;
  padding-bottom: 10px;
}

pre {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 14px;
  overflow: auto;
  max-height: 400px;
}

code {
  font-size: 12px;
}

.floatright {
  float: right;
}

img.icon {
  height: 25px;
  vertical-align: middle;
}

img.photo {
  width: 80pt;
  border-radius: 10pt;
}

img.portfoliologo {
  width: 80pt;
  padding: 25pt 0pt;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.exerpt {
  margin-top: -10px;
  padding-top: 0px;
  padding-left: 30px;
}

.widelist li {
  padding-top: 10px;
}
