article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #222;
  color: #eee;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
}

header, nav, section, footer {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}

header {
  max-width: 748px; /* 74 px offset for logo */
}

header h1 {
  padding: 12px 0 12px 80px;
  font-size: 35px;
  font-weight: normal;
  background-image: url("/images/nutilslogo.png");
  background-repeat: no-repeat;
  background-position: left center;
}

header h1 img {
  vertical-align: middle;
  padding: 0 10px;
}

nav {
  max-width: 620px; /* 10 px offset for tab padding */
  padding: 0;
  font-size: large;
}

nav span {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

nav span.select {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #eee;
  color: #222;
}

nav a {
  color: inherit;
  padding: 0 10px; /* matches section padding */
  margin: 0;
}

.lightbg {
  width: 100%;
  padding-bottom: 10px;
  background: #eee;
  color: #222;
}

h2 + .nav {
  margin: -15px 0 20px 0;
}

div + .nav {
  margin: 40px 0 0 0;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 30px;
  padding-bottom: 10px;
}

pre {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 14px;
  overflow: auto;
  max-height: 400px;
}

code {
  font-size: 12px;
}

.floatright {
  float: right;
}

img.icon {
  height: 25px;
  vertical-align: middle;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.exerpt {
  margin-top: -10px;
  padding-top: 0;
  padding-left: 30px;
}

.widelist li {
  padding-top: 10px;
}

.centered {
  text-align: center;
}

.intro {
  font-weight: bold;
}

.photo {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-style: italic;
}

.photo img {
  width: 100%;
}
