body {
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}
@media screen and (min-width: 750px) {
  body { padding: 20px 0px; }
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 150%;
  font-weight: bold;
}

h2 {
  font-size: 110%;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  font-weight: bold;
}

td {
  vertical-align: top;
}

.center {
  display: block;
  max-width: 750px;
  margin: 0px auto;
  padding: 0px 10px;
}

.widecenter {
  display: block;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 10px;
}

.widecenter h1 {
  text-align: center;
  font-weight: normal;
  font-size: 200%;
}
@media screen and (min-width: 750px) {
  .widecenter h1 { font-size: 250%; }
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
  border: 1px solid #333;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bwhover img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
}

.bwhover img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.columns {
  column-count: 1;
}
@media screen and (min-width: 750px) {
  .columns { column-count: 2; }
}

.conditionalfloat {
  max-width: 320px;
  margin: 0px auto;
}
@media screen and (min-width: 500px) {
  .conditionalfloat { margin: 16px 40px; float: right; }
}


/*** HEADER ***/

header li {
  list-style-type: none;
  font-size: 125%;
  text-align: center;
  padding: 5px 10px;
}
@media screen and (min-width: 750px) {
  header li { display: inline-block; }
}

header li.select {
  border-radius: 8px;
  background-color: #eee;
  color: #222;
}

header a {
  font-weight: normal;
}


/*** HELMHOLTZ ***/

#helmholtz {
  background-image: url("/images/helmholtz.png");
  background-repeat: repeat-x;
  background-position: center;
}

#helmholtz table {
  padding: 0px;
  border-spacing: 20px;
}

#helmholtz td {
  padding: 0px 10px;
  background: rgba(90, 90, 90, 0.3);
  border: 1px solid;
  border-radius: 8px;
  border-color: rgba(90, 90, 90, 0.1);
}


/*** GALLERY ***/

#gallery img {
  border: 1px solid #333;
  padding: 0px;
  margin: 2px;
  width: calc(33.33% - 10px);
}
@media screen and (max-width: 500px) {
  #gallery img { width: calc(50% - 8px); }
}

#gallery img:hover {
  border: 1px solid #aaa;
}
