---
layout: default
title: News
---

<div class="news">

<!--<a href="/atom.xml"><img src="/images/feedicon.png" class="icon floatright"></img></a>-->

<ul>
{% if paginator.previous_page %}
  <a class="gray" href={% if paginator.previous_page == 1 %}"/news/"{% else %}"{{ paginator.previous_page_path }}"{% endif %}><li>Newer posts<div class="floatright gray">#&lt;</div></li></a>
{% endif %}
{% for post in paginator.posts %}
  <a href="{{ post.url }}"><li>
  <div class="floatright gray">{{ post.date | date_to_string }} &nbsp; #{{ paginator.page | minus: 1 | times: paginator.per_page | plus: forloop.index }}</div>
  <p><b>{{ post.title }}</b></p>
  <div class="exerpt">
    {{ post.excerpt | strip_html }}
    {% if post.excerpt.size < post.content.size %}[...]{% endif %}
  </div>
  </li></a>
{% endfor %}
{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}"><li>Older posts<div class="floatright gray">#&gt;</div></li></a>
{% endif %}
</ul>

</div>
