---
layout: default
title: News
---

<div class="news">

<!--<a href="/atom.xml"><img src="/images/feedicon.png" class="icon floatright"></img></a>-->

{% capture nav %}
<p class="nav">
<b>Posts
{{ paginator.page | minus: 1 | times: paginator.per_page | plus: 1 }}-{{ paginator.page | minus: 1 | times: paginator.per_page | plus: paginator.posts.size }} of {{ paginator.total_posts }}</b>
&middot;
{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">older</a>
{% else %}
  older
{% endif %}
&middot;
{% if paginator.previous_page %}
  <a href={% if paginator.previous_page == 1 %}"/"{% else %}"{{ paginator.previous_page_path }}"{% endif %}>newer</a>
{% else %}
  newer
{% endif %}
</p>
{% endcapture %}

{{ nav }}
<ul>
{% for post in paginator.posts %}
  <a href="{{ post.url }}"><li>
  <p><b>{{ post.date | date_to_string }} &middot; {{ post.title }}</b></p>
  <div class="exerpt">
    {{ post.excerpt | strip_html }}
    {% if post.excerpt.size < post.content.size %}[...]{% endif %}
  </div>
  </li></a>
{% endfor %}
</ul>
{{ nav }}

</div>
