<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.shortname }}">
    <meta property="og:url" content="http://{{ site.domain }}{{ page.url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" media="all">
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <title>{{ site.shortname }} {{ page.title }}</title>
    {% for script in site.scripts %}
      <script type="text/javascript" src="/scripts/{{ script }}.js"></script>
    {% endfor %}{% for script in page.scripts %}
      <script type="text/javascript" src="/scripts/{{ script }}.js"></script>
    {% endfor %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
