---
layout: body
---

<header>
  <h1>{{ site.name }}</h1>
</header>

<nav>
  {% capture alltabs %}{% for tab in site.tabs %}  {{ tab.title }}  {% endfor %}{% endcapture %}
  {% assign scale = alltabs | size | divided_by: 100. %}
  {% for tab in site.tabs %}<span style="max-width:{{ tab.title | size | plus: 4 | divided_by: scale }}%;" {% if page.title == tab.title %}class="select"{% endif %}>
    <a href="{{ tab.url }}">{{ tab.title | downcase }}</a>
  </span>{% endfor %}
</nav>

<div class="lightbg">

<section>
  {{ content }}
</section>

</div>

<footer>
  <p><a href="http://github.com/{{ site.github }}"><img src="/images/github.png" class="icon"></img></a> Published with <a href="http://pages.github.com">GitHub Pages</a></p>
</footer>
