---
layout: body
---

<header>
  <div>
  <img src="/images/nutilslogo.png">
  <div>
  <h1>{{ site.shortname }}</h1>
  <h2> Numerical Utilities</h2>
  </div>
  </div>
  <nav>
    {% for tab in site.tabs %}<span {% if page.title == tab.title %}class="select"{% endif %}>
      <a href="{{ tab.url }}">{{ tab.title | downcase }}</a>
    </span>{% endfor %}
  </nav>
</header>

<section>
  {{ content }}
</section>

<footer>
  <p><a href="http://github.com/{{ site.github }}"><img src="/images/github.png" class="icon"></img></a> Published with <a href="http://pages.github.com">GitHub Pages</a></p>
</footer>
