---
layout: body
---

<header class="center">
  <table>
    <tr>
      <td id="logo">
        <h1>Nutils</h1>
        <h2>Numerical Utilities</h2>
      </td>
      <td id="nav">
        <ul>
        {% for tab in site.tabs %}
          <li {% if page.title == tab.title %}class="select"{% endif %}>
            <a href="{{ tab.url }}">{{ tab.title | downcase }}</a>
          </li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</header>

<section>
  {{ content }}
</section>

<!--
<footer>
  <p><a href="http://github.com/{{ site.github }}"><img src="/images/github.png" class="icon"></img></a> Published with <a href="http://pages.github.com">GitHub Pages</a></p>
</footer>
-->
