---
layout: default
---

<p class="nav">
{% if page.url != site.posts.first.url %}<a href="{{ site.posts.first.url }}">latest</a>{% else %}latest{% endif %}
&middot;
{% if page.next %}<a href="{{ page.next.url }}">newer</a>{% else %}newer{% endif %}
&middot;
<b>{{ page.date | date_to_string }}</b>
&middot;
{% if page.previous %}<a href="{{ page.previous.url }}">older</a>{% else %}older{% endif %}
&middot;
{% if page.url != site.posts.last.url %}<a href="{{ site.posts.last.url }}">first</a>{% else %}first{% endif %}
</p>

<div class="post">
{{ content }}
</div>
